@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import "reset.css";

@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/screen-haeder.css";
@import "components/alt-screen-header.css";
@import "components/nav-bar.css";
@import "components/friends.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/find.css";
@import "components/icon-row.css";
@import "components/more.css";
@import "components/settings.css";
@import "components/chat.css";


/* Screens */
@import "screens/login.css";


body{
  padding: 1px;
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  color: #2e363e;
}

.main-screen{
  padding: 0px var(--horizontal-space);
}