@import "../../reset.css";

div {
  color: white;
}

.grid {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(4, 100px);
  grid-auto-columns: 100px;
}
.grid:first-child {
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid:last-child {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.item:nth-child(odd) {
  background-color: crimson;
}

.item:nth-child(even) {
  background-color: cornflowerblue;
}
