#chat-screen{
  background-color: #abc1d1;
  height: 200vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar{
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar{
  z-index: 2;
}

#chat-screen .alt-header{
  top: 10px;
  z-index: 0;
}

.main-chat{
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp{
  color: white;
  background-color: #92A4B3;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.message-row{
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}

.message-row img{
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author{
  margin-bottom: 5px;
  display: block;
}

.message__info{
  display: flex;
  align-items: flex-end;
}

.message__bublle{
  background-color: white;
  padding: 12px;
  font-size: 18px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__author,
.message__time{
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own{
  justify-content: flex-end;
}

.message-row--own .message__bublle{
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
}

/* .message-row--own .message__bublle{
  order: 1;
}

.message-row--own .message__time{
  order: 0;
} */
.message-row--own .message__info{
  flex-direction: row-reverse;
}