#friends-display-link{
  text-align: center;
  width: 100vw;
  display: block;
  background-color: #fafafa;;
  padding: 15px 0px;
  font-size: 16px;
}
#friends-display-link i{
  color: rgba(0,0,0,0.3);
  padding:0px 5px
}