#friends-display-link{
  text-align: center;
  width: 100%;
  display: block;
  background-color: #fafafa;;
  padding: 15px 0px;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: -10px;
}

#friends-display-link i{
  color: rgba(0,0,0,0.3);
  padding:0px 5px;
}

.friends-screen{
  padding: 0px var(--horizontal-space);
}


.friends-screen__channel{
  margin-top: 25px;
  border-top: var(--main-divider);
  padding-top: 10px;
}

.friends-screen__channel-header{
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  color: rgba(0,0,0,0.5);
}