.icon-row{
  display: flex;
  justify-content: space-between;
}

.icon-row__icon{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgba(0,0,0,0.7);
}
.icon-row__icon i{
  font-size: 35px;
}

.icon-row__icon span{
  margin-top: 19px;
  font-size: 18px;
}