.nav{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  /* talling css : do not change box size */
  box-sizing: border-box;
  border-top: 1px solid rgba(121,121,121,0.3);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__link{
  color: #2e363e;
  position: relative;
}

.nav__notification{
  background-color: tomato;
  width: 20px;
  height: 20px;
  display: block;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__notification-new{
  background-color: tomato;
  width: 6px;
  height: 6px;
  display: block;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  right: -7px;
  top: -15px;
}