.settings__setting{
  padding: 25px 0px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
  font-size: 25px;
  display: flex;
  align-items: center;
}

.settings__setting:last-child{
  border-bottom: none;
}

.settings__setting i{
  margin-right: 20px;
  font-size: 27px;
}