.badge {
  background-color: tomato;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
}

.badge-sm {
  width: 25px;
  height: 25px;
  font-size: 15px;
}

.badge-dot {
  position: absolute;
  right: -7px;
  top: -7px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
}

.badge-dot-lg{
  top: -15px;
}

.badge-alret{
  background-color: white;
  color: tomato;
  border: 2px solid tomato;
  font-weight: 600;
  display: flex;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}