#chat-screen{
  background-color: #abc1d1;
  height: 500vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar{
  top: 0;
  position: fixed;
  width: 100%;
  background-color: #abc1d1;
  box-sizing: border-box;
}

#chat-screen .status-bar{
  z-index: 2;
}

#chat-screen .alt-header{
  top: 10px;
  z-index: 0;
}

@keyframes fadeInLeft {
  from{
    opacity: 0;
    transform: translateX(100px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}

@keyframes fadeInRight {
  from{
    opacity: 0;
    transform: translateX(-100px);
  }
  to{
    opacity: 1;
    transform: none;
  }
}


.main-chat{
  margin-top: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chat__timestamp{
  color: white;
  background-color: #92A4B3;
  padding: 15px;
  font-size: 14px;
  border-radius: 25px;
  margin-bottom: 20px;
}

.message-row{
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  opacity: 0;
  animation: fadeInRight 1s linear forwards;
}

.message-row img{
  width: 50px;
  height: 50px;
  border-radius: 40%;
  margin-right: 10px;
}

.message__author{
  margin-bottom: 5px;
  display: block;
}

.message__info{
  display: flex;
  align-items: flex-end;
}

.message__bublle{
  background-color: white;
  padding: 12px;
  font-size: 18px;
  border-radius: 13px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}

.message__author,
.message__time{
  opacity: 0.8;
  font-size: 13px;
}

.message-row--own{
  justify-content: flex-end;
  animation: fadeInLeft 1s linear forwards;
  animation-delay: 0.5s;
}

.message-row--own .message__bublle{
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 13px;
  margin-right: 0px;
  margin-left: 5px;
}

/* .message-row--own .message__bublle{
  order: 1;
}

.message-row--own .message__time{
  order: 0;
} */
.message-row--own .message__info{
  flex-direction: row-reverse;
}

.reply{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child{
  width: 10%;
}
.reply .reply__column:last-child{
  width: 90%;
  position: relative;
}

.reply i{
  opacity: 0.5;
}

.reply input{
  padding: 12px;
  width: 100%;
  border: var(--main-divider);
  border-radius: 20px;
  transition: transform 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button{
  position: absolute;
  right: -23px;
  top: 5px;
}

.reply__column:last-child > i{
  right: 20px;
  top: 5px;
}

.reply__column button{
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column button:focus,
.reply__column button:active{
  outline: none;
}

.reply__column button i{
  opacity: 1;
}

.reply .reply__column:first-child,
.reply .fa-smile-beam,
.reply button{
  transition: opacity .3s ease-in-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-beam,
.reply:focus-within button{
  opacity: 0;
}

.reply input:focus{
  width: 94vw;
  transform: translateX(-13%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}