.screen-header{
  display: flex;
  justify-content: space-between;
  padding: var(--horizontal-space);
  align-items: center;
  margin-bottom: 15px;
}

.screen-header__title{
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span{
  margin-left: 25px;
  position: relative;
}

@keyframes rotateCog {
  from{
    transform: none;
  }
  to{
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover{
  animation: rotateCog 1s linear infinite;
}