.user-component{
  justify-content: space-between;
  margin-bottom: 20px;
}

.user-component,
.user-component__column:first-child{
  display: flex;
  align-items: center;
}

.user-component__avatar{
  width: 70px;
  height: 70px;
  border-radius: 25px;
  margin-right: 20px;
}

.user-component__avater--xl{
  width: 80px;
  height: 80px;
  border-radius: 28px;
}

.user-component__avater--sm{
  width: 60px;
  height: 60px;
  border-radius: 22px;
}

.user-component__tilte{
  font-weight: 600;
  font-size: 22px;
}

.user-component__tilte--not-bold{
  font-weight: 400;
}

.user-component__subtitle{
  margin-top: 5px;
  font-size: 17px;
  color: rgba(0,0,0,0.5);
  display: flex;
}

.user-component__subtilte-text{
  margin-right: 5px;
}

.user-component__column:last-child{
  color: rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.user-component__time{
  margin-bottom: 10px;
  display: block;
}